body{
	background-color: #333;
	color: white;
}

.btn{
    background-color: grey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    opacity: 1;
}

.btn:focus{
    box-shadow: none;
}